body {
  background-color:#D9D9D9;
  font-family: Inter;
  margin: 20px 50px;
}

button {
  font-family: Inter;
}

.appTitle {
  text-align: center;
  font-style: italic;
  color: white;
}

.pageTitle {
  text-align: center;
}

.page {
  background-color: white;
  border-radius: 30px;
  padding: 20px 30px;
  margin: 30px 0px;
}

.successText {
  color: rgb(45, 226, 45);
}

.errorText {
  color: rgb(255, 16, 16)
}